:root {
  --background: rgb(15, 15, 15);
}

#homeTitleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#homeContainer {
  width: 50%;
  background-color: white;
  padding: 2rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#playButton {
  width: 200px;
  height: 75px;
  border: 2px solid var(--background);
  background-color: white;
  border-radius: 999px;
  font-size: 1.25rem;
  color: var(--background);
  transition: background-color 0.4s ease, color 0.4s ease;
}

#playButton:hover {
  background-color: rgb(87, 248, 72);
}

#robotSVG {
  width: 100px;
  height: auto;
}
